
h1
{
	color: rgb(7, 9, 121); 
	font-size: 40px;
}
.body_background {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#my_canvas{
border: 10px ridge rgb(3, 3, 117);
background-color: rgb(255, 252, 208);
}
